TWILIO_ACCOUNT_SID=<Obtain from Twilio Console>
TWILIO_AUTH_TOKEN=<Obtain from Twilio Console>
SENDGRID_API_KEY=<Obtain from Sendgrid Console>
EMAIL_DOMAIN=parse.<yourdomain>.com
TO_EMAIL_ADDRESS=<shared Inbox>@<yourdomain>.com
TWILIO_PHONE_NUMBER=<SMS Capable Twilio Number>